@font-face {
  font-family: "shlop";
  src: url("./fonts//shlop.ttf");
}

@font-face {
  font-family: "shlopwoff";
  src: url("./fonts//shlop.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
